<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Login OR Sign in</title>
</head>
<body>
    <div class="sign_in">
    <h1>Login<h1>
        <form>
            <div>
                <img src="../public/images/person.png" alt="person" height="25px" width="25px">
                <input required type="text" name="username" id="username_id" placeholder="username">
            </div>
            <div>
                <img src="../public/images/password.png" alt="person" height="25px" width="25px">
                <input required type="password" name="password" id="password_input" placeholder="Password">
            </div>
            <button type="submit">Sign up</button>
            <p>create an acount if not <a href="index.html">sign in</a></p>
        </form>
    </div>
</body>
</html>